/AutogrindGBFVR-1.01.py
/AutogrindGBFVR.py
/Granblue Fantasy Versus_ Rising   2026-04-07 11_12_09 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-07 11_13_34 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-07 11_59_26 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-07 7_18_00 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-07 8_28_12 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-07 8_28_30 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-07 8_29_20 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-07 8_29_53 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-07 8_29_55 PM.png
/Granblue Fantasy Versus_ Rising   2026-04-08 12_17_11 AM.png

notes.txt

*.egg-info
*.pyc
__pycache__